.form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 100px;
    background: lightblue;
    border-radius: 100px;
    padding: 20px 0;
}

input{
    margin: 20px;
}

textarea {
    margin-bottom: 40px;
}